<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
    <form action="/save" method="post">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" placeholder="Insert title"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" placeholder="Insert description"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>