<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<body>
    <a href="/home">Mine tagasi avalehele</a>
    <form action="/save" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" placeholder="Insert name"><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" placeholder="Insert description"><br>
        <label for="price">Description:</label><br>
        <input type="number" id="price" name="price" placeholder="Insert price"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>