    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Webshop</title>
    </head>
    <body>
    <table>
        <td th:text="${productList}">${productList}</td>
        <th:block th:each="product : ${productList}">
            <tr>
                <td th:text="${product.name}">${product.name}</td>
                <td th:text="${product.description}">${product.description}</td>
            </tr>
            <tr>
                <td colspan="2" th:text="${product.price}">${product.price}</td>
            </tr>
        </th:block>
    </table>
    </body>
    </html>