<div class="container">
  <h2 class="mb-4">Employees</h2>
  <table class="table table-hover table-bordered table-sortable">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Avatar</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>  
        <td>{{ employee.email }}</td>
        <td><img src="{{ employee.avatar }}"></td>
        <td><button (click)="deleteEmployee(employee)" type="button" class="btn btn-danger">Delete</button></td>
      </tr>

    <tr class="input-row" [formGroup]="form">
      <td><input formControlName="id" type="text" placeholder="ID" class="form-control"></td>
      <td><input formControlName="name" type="text" placeholder="Name" class="form-control"></td>
      <td><input formControlName="email" type="text" placeholder="Email" class="form-control"></td>
      <td><input formControlName="avatar" type="text" placeholder="Avatar link" class="form-control"></td>
      <td><button [disabled]="form.invalid" type="submit" (click)="addEmployee()" class="btn btn-success" style="width: 70px">Add</button></td>
    </tr>

    
  </tbody>
  </table>
    <div *ngIf="form.controls['id'].invalid && form.controls['id'].touched" 
      class="alert alert-danger" 
      role="alert">Id Error: required and only numbers</div>
    <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" 
      class="alert alert-danger" 
      role="alert">Name Error: required and only letters</div>
    <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" 
      class="alert alert-danger" 
      role="alert">Email Error: required and must be email type</div>
    <div *ngIf="form.controls['avatar'].invalid && form.controls['avatar'].touched" 
      class="alert alert-danger" 
      role="alert">Avatar Error: required</div>
</div>